*.a
*.o
.deps/
.dirstamp

/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/autoscan.log
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/include/Makefile
/include/Makefile.in
/install-sh
/missing
/test-driver
/test-suite.log
/tests/test*.log
/tests/test*.trs

/tests/multiboot2_print1
/tests/multiboot2_print2
/tests/test_multiboot2_helpers
/tests/test_multiboot2_print
/tests/test_multiboot2_validation
/tests/test_stdlib
