#ifdef HAVE_CONFIG_H
#include "config.h"
#endif

#include <kernaux/printf.h>

#ifdef WITH_IO
#include <kernaux/io.h>
#endif

#include <assert.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>

#define BUFFER_SIZE 1024

static char buffer[BUFFER_SIZE];
static size_t buffer_index;

#ifdef WITH_IO

static const char *const data = "foobar";

static void test_putchar(const char chr, void *const arg)
{
    assert(arg == data);

    if (buffer_index >= BUFFER_SIZE) {
        printf("Buffer overflow!\n");
        abort();
    }

    buffer[buffer_index++] = chr;
}

#endif // WITH_IO

static void test(const char *const expected, const char *const format, ...)
{
    va_list va;
    int result;

#ifdef WITH_IO
    memset(buffer, '\0', sizeof(buffer));
    buffer_index = 0;
    va_start(va, format);
    struct KernAux_File file = KernAux_File_create(test_putchar);
    result = kernaux_vfprintf(&file, (char*)data, format, va);
    va_end(va);
    assert((size_t)result == strlen(expected));
    assert(strcmp(expected, buffer) == 0);
#endif

    memset(buffer, '\0', sizeof(buffer));
    buffer_index = 0;
    va_start(va, format);
    result = kernaux_vsnprintf(buffer, sizeof(buffer), format, va);
    va_end(va);
    assert((size_t)result == strlen(expected));
    assert(strcmp(expected, buffer) == 0);
}

int main()
{
#ifdef WITH_IO
    memset(buffer, '\0', sizeof(buffer));
    buffer_index = 0;
    struct KernAux_File file = KernAux_File_create(test_putchar);
    kernaux_fprintf(&file, (char*)data, "Hello, World!");
    assert(strcmp("Hello, World!", buffer) == 0);
#endif

    {% for case in cases %}
    {% if case.float %}
#ifdef ENABLE_FLOAT
    {% endif %}
    printf("%s\n", {{ escape_str(case.result) }});
    test({{ escape_str(case.result) }}, {{ escape_str(fmt(case.args)) }}{{ values(case.args) }});
    {% if case.float %}
#endif
    {% endif %}
    {% endfor %}

    return 0;
}
