#ifdef HAVE_CONFIG_H
#include "config.h"
#endif

#define KERNAUX_ACCESS_PROTECTED

#include <kernaux/macro.h>
#include <kernaux/printf.h>

#include <assert.h>
#include <stddef.h>
#include <stdio.h>
#include <stdlib.h>
#include <string.h>

#define BUFFER_SIZE 1024

static const char *const data = "foobar";

static char buffer[BUFFER_SIZE];
static size_t buffer_index;

static void test_putc(char c, void *arg KERNAUX_UNUSED)
{
    if (buffer_index >= BUFFER_SIZE) {
        printf("Buffer overflow!\n");
        abort();
    }

    buffer[buffer_index++] = c;
}

static void test(const char *const expected, const char *const format, ...)
{
    va_list va;
    int result;

    memset(buffer, '\0', sizeof(buffer));
    buffer_index = 0;
    va_start(va, format);
    result = kernaux_vfprintf(test_putc, (void*)data, format, va);
    va_end(va);

    printf("Exp: %s\n", expected);
    printf("Got: %s\n\n", buffer);

    assert((size_t)result == strlen(expected));
    assert(strcmp(expected, buffer) == 0);

    memset(buffer, '\0', sizeof(buffer));
    buffer_index = 0;
    va_start(va, format);
    result = kernaux_vsnprintf(buffer, sizeof(buffer), format, va);
    va_end(va);

    assert((size_t)result == strlen(expected));
    assert(strcmp(expected, buffer) == 0);
}

void test_main()
{
    memset(buffer, '\0', sizeof(buffer));
    buffer_index = 0;
    kernaux_fprintf(test_putc, (void*)data, "Hello, World!");
    assert(strcmp("Hello, World!", buffer) == 0);

    {% for case in cases %}
    {% if case.float %}
#ifdef ENABLE_FLOAT
    {% endif %}
    test({{ escape_str(case.result) }}, {{ escape_str(fmt(case.args)) }}{{ values(case.args) }});
    {% if case.float %}
#endif
    {% endif %}
    {% endfor %}
}
