name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # TODO: something is wrong with TCC, Multiboot 2 info tag struct size
        #cc: ['gcc', 'clang', 'tcc']
        cc: ['gcc', 'clang']
        opt: ['', '-O0', '-O3']
        assert: ['--enable-assert', '--disable-assert']
        guard: ['--enable-guard', '--disable-guard']
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0

      - name: dependencies
        run: sudo apt-get -y install clang tcc
      - name: autogen
        run: ./autogen.sh
      - name: configure
        run: ./configure --enable-tests ${{matrix.assert}} ${{matrix.guard}} CC='${{matrix.cc}}' CFLAGS='${{matrix.opt}}'
      - name: make
        run: make
      - name: check
        run: make check || (cat test-suite.log && false)
      - name: install
        run: sudo make install

      - name: bundle
        working-directory: pkgs/ruby
        run: bundle install
      - name: rake compile
        working-directory: pkgs/ruby
        run: rake compile
      - name: test & lint
        working-directory: pkgs/ruby
        run: rake

  cppcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: dependencies
        run: sudo apt-get -y install cppcheck
      - name: cppcheck source code
        run: cppcheck --quiet --error-exitcode=1 --std=c99 --enable=warning,style,performance,portability include/ src/
      - name: cppcheck examples
        run: cppcheck --quiet --error-exitcode=1 --std=c99 --enable=warning,style,performance,portability --suppress=duplicateExpression --suppress=staticStringCompare examples/
      - name: cppcheck tests
        run: cppcheck --quiet --error-exitcode=1 --std=c99 --enable=warning,style,performance,portability --suppress=unusedStructMember tests/
