name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cc: ['gcc', 'clang', 'tcc']
        assert: ['--enable-assert', '--disable-assert']
        opt: ['', '-O0', '-O3']
        werror:
          - cflag: '-Werror'
            mb2: '--disable-multiboot2'
          - cflag: ''
            mb2: '--enable-multiboot2'
    steps:
      - uses: actions/checkout@v2
      - name: dependencies
        run: sudo apt install clang tcc
      - name: autogen
        run: ./autogen.sh
      - name: configure
        run: ./configure ${{matrix.assert}} ${{matrix.werror.mb2}} CC='${{matrix.cc}}' CFLAGS='${{matrix.werror.cflag}} ${{matrix.opt}}'
      - name: make
        run: make
      - name: check
        run: make check
      - name: install
        run: sudo make install
